apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: master
  name: 50-masters-chrony-configuration
spec:
  config:
    ignition:
      version: 3.1.0
    storage:
      files:
        - contents:
            source: 'data:text/plain;charset=utf-8;base64,cG9vbCBpbi5wb29sLm50cC5vcmcgaWJ1cnN0CmRyaWZ0ZmlsZSAvdmFyL2xpYi9jaHJvbnkvZHJpZnQKbWFrZXN0ZXAgMS4wIDMKcnRjc3luYwpsb2dkaXIgL3Zhci9sb2cvY2hyb255CnNlcnZlciAxOTIuMTY4LjAuMTU5IGlidXJzdAoK'
          mode: 420
          overwrite: true
          path: /etc/chrony.conf
